

body {
    background-color: blanchedalmond;
}

h1 {
    font-family: cursive;
    text-shadow: 2px 2px #606060;
}

#title {
    font-size: 1.2rem;
}

#input-keywords {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    width: 50%;
}

.song-input {
    margin-top: 20px;
}

#submit {
    padding: 6px;
    border-radius: 5px;
    background-color: #606060;
    border: none;
    color: aliceblue;
}

.music-card {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 430px;
    border-radius: 10px;
    padding: 10px;
}

.card {
    background-color: white;
    padding: 10px;
    width: 350px;
    height: 485px;
    border-radius: 10px;
}

.song-img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.artist-img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.artist-text {
    font-style: italic;
}

